temp_aware_fan_using_DHT11/smart_fan_dashboard.json
[
    {
        "id": "d1f1f6f3f7e8a3d2",
        "type": "tab",
        "label": "Smart Fan Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_in_temp",
        "type": "mqtt in",
        "z": "d1f1f6f3f7e8a3d2",
        "name": "Temperature Data",
        "topic": "fanSystem/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": false,
        "rh": 0,
        "x": 180,
        "y": 140,
        "wires": [["ui_gauge_temp"]]
    },
    {
        "id": "mqtt_in_status",
        "type": "mqtt in",
        "z": "d1f1f6f3f7e8a3d2",
        "name": "Fan Status",
        "topic": "fanSystem/status",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": false,
        "rh": 0,
        "x": 170,
        "y": 200,
        "wires": [["ui_text_status"]]
    },
    {
        "id": "mqtt_out_command",
        "type": "mqtt out",
        "z": "d1f1f6f3f7e8a3d2",
        "name": "Send Commands",
        "topic": "fanSystem/command",
        "qos": "",
        "retain": "",
        "broker": "mqtt_broker_local",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "ui_button_on",
        "type": "ui_button",
        "z": "d1f1f6f3f7e8a3d2",
        "name": "Turn Fan ON",
        "group": "ui_group_fan",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "topic": "fanSystem/command",
        "payload": "ON",
        "payloadType": "str",
        "x": 460,
        "y": 300,
        "wires": [["mqtt_out_command"]]
    },
    {
        "id": "ui_button_off",
        "type": "ui_button",
        "z": "d1f1f6f3f7e8a3d2",
        "name": "Turn Fan OFF",
        "group": "ui_group_fan",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "topic": "fanSystem/command",
        "payload": "OFF",
        "payloadType": "str",
        "x": 460,
        "y": 340,
        "wires": [["mqtt_out_command"]]
    },
    {
        "id": "ui_button_auto",
        "type": "ui_button",
        "z": "d1f1f6f3f7e8a3d2",
        "name": "Auto Mode",
        "group": "ui_group_fan",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "AUTO",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "topic": "fanSystem/command",
        "payload": "AUTO",
        "payloadType": "str",
        "x": 460,
        "y": 380,
        "wires": [["mqtt_out_command"]]
    },
    {
        "id": "ui_gauge_temp",
        "type": "ui_gauge",
        "z": "d1f1f6f3f7e8a3d2",
        "name": "Temperature Gauge",
        "group": "ui_group_temp",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_text_status",
        "type": "ui_text",
        "z": "d1f1f6f3f7e8a3d2",
        "group": "ui_group_fan",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Fan Status Text",
        "label": "Fan Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red-fan",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ui_group_temp",
        "type": "ui_group",
        "name": "Temperature Monitor",
        "tab": "ui_tab_fan",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ui_group_fan",
        "type": "ui_group",
        "name": "Fan Control",
        "tab": "ui_tab_fan",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "ui_tab_fan",
        "type": "ui_tab",
        "name": "Smart Fan System",
        "icon": "dashboard",
        "order": 1
    }
]
